/* ALISA PALSON */

/* Getting required fonts from google */
@import url("https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap");

:root {
  --yellow: #f6d64a;
  --teal: #55bcd5;
  --purple: #9b26b0;
  --blue: #499bd2;
  --dark-grey: #222222;
  --light-grey: #eaeaea;
  --white: #ffffff;
  --black: #000000;

  --molle: "Molle", serif;
  --montserrat: "Montserrat", serif;
  font-size: 16px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*	end css reset	*/

/* 
skip to content link styles
https://css-tricks.com/how-to-create-a-skip-to-content-link/ 
*/

#skip {
  background: #e77e23;
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

#skip:focus {
  transform: translateY(0%);
}

/* screen reader only styles */
/* https://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1, h2, h3 {
  font-family: var(--molle);
}

h4, p, q, small, nav, button, form {
  font-family: var(--montserrat);
}



body {
  background-color: var(--white);
}


header {
  /* fallback to plain white in case gradient isn't supported */
  background-color: var(--white);
  width: 100%;
  display: grid;
  grid-template-areas:
    "logo nav"
    "title title"
    "tagline tagline";
}

header h1 {
  grid-area: title;
  font-size: 3.1rem;
  padding: 1rem 2rem;
}

#logo {
  grid-area: logo;
  width: 160px;
  z-index: 1;
}

#logo img {
  width: 100%;
}

header p {
  grid-area: tagline;
}

nav {
  grid-area: nav;
  grid-column: 1/-1;
  font-weight: 600;
  text-transform: uppercase;
}

#menu-toggle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#menu-toggle a {
  text-decoration: none;
  color: var(--black);
}

#menu-toggle a:hover {
  background-color: var(--yellow);
}

#menu-toggle input {
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menu-toggle label {
  height: 50px;
  width: 210px;
  background-color: var(--yellow);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.28s ease;
  -o-transition: all 0.28s ease;
  transition: all 0.28s ease;
}

#menu-toggle ul {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  padding-top: 70px;
  background: rgba(255, 255, 255, 0.5);
  list-style-type: none;
  right: -150%;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#menu-toggle li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--teal);
  height: 100px;
  margin: -1px;
}

/* Slide the menu in from right when the input is checked */
#menu-toggle input:checked ~ ul {
  right: 0px;
}

/* Slide menu label into place in center of nav */
#menu-toggle input:checked ~ label {
  background: var(--black);
  color: var(--white);
  width: 100%;
}

/* apply gradient if browser supports it */
@supports (background-image: linear-gradient(180deg, var(--teal), var(--white))) {
  header {
    background-image: linear-gradient(180deg, var(--teal), var(--white));
  }
}

/* tablet styles */
@media screen and (min-width: 768px) {
  body {
    background-color: red;
  }
}

/* web styles */
@media screen and (min-width: 1200px) {
  body {
    background-color: green;
  }
}
